<head>
    <title>Submit | Sergi News</title>
</head>

<body>
<center>
    <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
        <tbody>
        <tr>
            <td bgcolor="ff6600">
                <table style="padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                        </td>
                        <td class="header">
                            <font size="4"> <b><a style="text-decoration:none;" href="/">Hacker News</a></b></font>
                            <font size="3"> 
                                <a style="text-decoration:none;" href="/">new</a> | 
                                <a style="text-decoration:none;" href="/ask">ask</a> | 
                                <a style="text-decoration:none;" href="/submissions/new"><font color="white">submit</font></a>
                            </font>
                        </td>
                       
                        <td class="spacer" style="width:10px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
          <td>
            <div style="margin-left:20px">
              <%= render 'form' %>
            </div>
          </td>
        </tr>
    </table>
  </center>
</body>